<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>296156330755-equ684rie3674dil14o9mhfi58jnav83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296156330755-equ684rie3674dil14o9mhfi58jnav83</string>
	<key>API_KEY</key>
	<string>AIzaSyA3BEBfqC-1HZtUvqqEJTevlKtCPZ8wAm8</string>
	<key>GCM_SENDER_ID</key>
	<string>296156330755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Futucke.BluePrintSocial</string>
	<key>PROJECT_ID</key>
	<string>blueprint-social</string>
	<key>STORAGE_BUCKET</key>
	<string>blueprint-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296156330755:ios:420a2cd800678cc2</string>
	<key>DATABASE_URL</key>
	<string>https://blueprint-social.firebaseio.com</string>
</dict>
</plist>